<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Components</key>
	<array>
		<dict>
			<key>Color</key>
			<string>textColor</string>
			<key>End</key>
			<string>&lt;</string>
			<key>Start</key>
			<string>&gt;</string>
			<key>Name</key>
			<string>Default</string>
			<key>Type</key>
			<string>String</string>
		</dict>
		<dict>
			<key>Color</key>
			<string>tagColor</string>
			<key>End</key>
			<string>&gt;</string>
			<key>Name</key>
			<string>Tags</string>
			<key>Start</key>
			<string>&lt;</string>
			<key>Type</key>
			<string>Tag</string>
		</dict>
		<dict>
			<key>Color</key>
			<string>stringColor</string>
			<key>End</key>
			<string>&quot;</string>
			<key>EscapeChar</key>
			<string>\</string>
			<key>Name</key>
			<string>Strings</string>
			<key>Start</key>
			<string>&quot;</string>
			<key>Type</key>
			<string>String</string>
		</dict>
		<dict>
			<key>Color</key>
			<string>symbolColor</string>
			<key>Keywords</key>
			<array>
				<string>&amp;apos;</string>
				<string>&amp;quot;</string>
				<string>&amp;lt;</string>
				<string>&amp;gt;</string>
				<string>&amp;amp;</string>
				<string>&amp;auml;</string>
				<string>&amp;uuml;</string>
				<string>&amp;ouml;</string>
			</array>
			<key>Name</key>
			<string>Identifiers</string>
			<key>Type</key>
			<string>Keywords</string>
		</dict>
		<dict>
			<key>Color</key>
			<string>stringColor</string>
			<key>Keywords</key>
			<array>
				<string>&lt;story&gt;</string>
				<string>&lt;/story&gt;</string>
			</array>
			<key>Name</key>
			<string>Story</string>
			<key>Type</key>
			<string>Keywords</string>
		</dict>
		<dict>
			<key>Color</key>
			<string>tagColor</string>
			<key>Keywords</key>
			<array>
				<string>&lt;br&gt;</string>
				<string>&lt;/br&gt;</string>
			</array>
			<key>Name</key>
			<string>Break</string>
			<key>Type</key>
			<string>Keywords</string>
		</dict>
		<dict>
			<key>Color</key>
			<string>customControlColor</string>
			<key>End</key>
			<string>--&gt;</string>
			<key>Name</key>
			<string>Comments</string>
			<key>Start</key>
			<string>&lt;!--</string>
			<key>Type</key>
			<string>BlockComment</string>
		</dict>
	</array>
</dict>
</plist>
