<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>SDL_sound_static.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>34</integer>
		</dict>
		<key>Spatterlight.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>advsys.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>17</integer>
		</dict>
		<key>agility.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>18</integer>
		</dict>
		<key>agt2agx.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>19</integer>
		</dict>
		<key>alan2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>20</integer>
		</dict>
		<key>alan3.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>21</integer>
		</dict>
		<key>babel.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>frotz.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>22</integer>
		</dict>
		<key>glkimp.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>15</integer>
		</dict>
		<key>glkmain.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>16</integer>
		</dict>
		<key>glulxe.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>23</integer>
		</dict>
		<key>htmltads.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>30</integer>
		</dict>
		<key>htmltadsr.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>32</integer>
		</dict>
		<key>hugo.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>24</integer>
		</dict>
		<key>level9.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>25</integer>
		</dict>
		<key>magnetic.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>26</integer>
		</dict>
		<key>scare.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>27</integer>
		</dict>
		<key>tads2.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>28</integer>
		</dict>
		<key>tads3.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>29</integer>
		</dict>
		<key>tadsr.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>31</integer>
		</dict>
		<key>unquill.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>33</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>9611535E0A4F35EE00BB7FF2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9611541F0A4F3F8B00BB7FF2</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>961CCE7A09F237E700528FF9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>961CCEB609F2396500528FF9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>961CCEC309F239C100528FF9</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>965036FF09F29F020083E64E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9650376609F2A2CE0083E64E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>965037AF09F2A4120083E64E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>965037D009F2A41F0083E64E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>965037F109F2A4430083E64E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9650384809F2AF280083E64E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9650386F09F2CC450083E64E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9650387D09F2CC4E0083E64E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>965038E809F2D3DC0083E64E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9650391209F2D4A10083E64E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9650396509F2D6C40083E64E</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>96A9B9F00A064A4E001B5B9B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>96A9BA780A06558F001B5B9B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>96FE866509F38BF600D41D78</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>96FE875F09F3A11900D41D78</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>96FE876409F3A12B00D41D78</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C3378A191ECF95CB00BCEAE5</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>C3AD43971ED6F7D2007C47BA</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
