{
	HasConvertedLibrary = NO;
	AdjustSize = YES;
	OneThemeForAll = YES;
	ShowThemePreview = NO;
	ShowSidebar = NO;
	Border = 10;
	DefaultWidth = 80;
	DefaultHeight = 50;
	GridForeground = <000000>;
	GridBackground = <D8D8D8>;
	GridFontName = Monaco;
	GridFontSize = 12;
	BufferForeground = <000000>;
	BufferBackground = <FFFFFF>;
	BufferFontName = Helvetica;
	BufferFontSize = 13;
	InputColor = <236E25>;
	InputFontName = "Helvetica-Bold";
	InputFontSize = 13;
	GridMargin = 5;
	BufferMargin = 15;
	Leading = "1.0";
	EnableStyles = 1;
	SmartQuotes = 1;
	SpaceFormat = 1;
	EnableGraphics = 1;
	EnableSound = 1;
	EnableMusic = 0;
	AntialiasFonts = 1;
	"SelectedGlkWindowType" = 3;
	SelectedStyle = 8;
	ShowBezels = YES;
}