{
	Border = 15;
	DefaultWidth = 62;
	DefaultHeight = 60;
	GridForeground = <000000>;
	GridBackground = <d8d8d8>;
	GridFontName = Monaco;
	GridFontSize = 12;
	BufferForeground = <000000>;
	BufferBackground = <ffffff>;
	BufferFontName = Helvetica;
	BufferFontSize = 13;
	InputColor = <236e25>;
	InputFontName = "Helvetica-Bold";
	InputFontSize = 13;
	GridMargin = 5;
	BufferMargin = 15;
	Leading = "1.0";
	EnableStyles = 1;
	SmartQuotes = 1;
	SpaceFormat = 1;
	EnableGraphics = 1;
	EnableSound = 1;
	EnableMusic = 0;
	AntialiasFonts = 1;
}