<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>taf</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>IconGame.icns</string>
			<key>CFBundleTypeName</key>
			<string>Interactive Fiction</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>dat</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>IconGame.icns</string>
			<key>CFBundleTypeName</key>
			<string>Interactive Fiction</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>agx</string>
				<string>d$$</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>IconGame.icns</string>
			<key>CFBundleTypeName</key>
			<string>Interactive Fiction</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>acd</string>
				<string>a3c</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>IconGame.icns</string>
			<key>CFBundleTypeName</key>
			<string>Interactive Fiction</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>hex</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>IconGame.icns</string>
			<key>CFBundleTypeName</key>
			<string>Interactive Fiction</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>l9</string>
				<string>sna</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>IconGame.icns</string>
			<key>CFBundleTypeName</key>
			<string>Interactive Fiction</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mag</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>IconGame.icns</string>
			<key>CFBundleTypeName</key>
			<string>Interactive Fiction</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ulx</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>IconGame.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/x-glulx</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Interactive Fiction</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>gam</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>IconGame.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/x-tads</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Interactive Fiction</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>t3</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>IconGame.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/x-t3vm-image</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Interactive Fiction</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>z3</string>
				<string>z4</string>
				<string>z5</string>
				<string>z7</string>
				<string>z8</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>IconGame.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/x-zmachine</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Interactive Fiction</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>glb</string>
				<string>gblorb</string>
				<string>zlb</string>
				<string>zblorb</string>
				<string>blb</string>
				<string>blorb</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>IconGame.icns</string>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/x-blorb</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Interactive Fiction</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>quill</string>
				<string>advsys</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>IconGame.icns</string>
			<key>CFBundleTypeName</key>
			<string>Interactive Fiction</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>iFiction</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>iFiction Metadata</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>XML</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>Spatterlight</string>
	<key>CFBundleIconFile</key>
	<string>IconApp</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>0.5.9b</string>
	<key>CFBundleSignature</key>
	<string>Spat</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.adventure-games</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
</dict>
</plist>
