<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ATSApplicationFontsPath</key>
	<string>fonts</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>acd</string>
				<string>a3c</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>LegacyIcon</string>
			<key>CFBundleTypeIconSystemGenerated</key>
			<integer>1</integer>
			<key>CFBundleTypeName</key>
			<string>Alan Story File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.alan</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>agx</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>LegacyIcon</string>
			<key>CFBundleTypeIconSystemGenerated</key>
			<integer>1</integer>
			<key>CFBundleTypeName</key>
			<string>AGT Story File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.agt</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>d$$$$</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>LegacyIcon</string>
			<key>CFBundleTypeIconSystemGenerated</key>
			<integer>1</integer>
			<key>CFBundleTypeName</key>
			<string>AGT dollar Story</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.ddollardollar</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>taf</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>LegacyIcon</string>
			<key>CFBundleTypeIconSystemGenerated</key>
			<integer>1</integer>
			<key>CFBundleTypeName</key>
			<string>Adrift Story File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.adrift</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>dat</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>LegacyIcon</string>
			<key>CFBundleTypeIconSystemGenerated</key>
			<integer>1</integer>
			<key>CFBundleTypeName</key>
			<string>DAT Story File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.dat</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>hex</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>LegacyIcon</string>
			<key>CFBundleTypeIconSystemGenerated</key>
			<integer>1</integer>
			<key>CFBundleTypeName</key>
			<string>Hugo Story File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.hugo</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>l9</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>LegacyIcon</string>
			<key>CFBundleTypeIconSystemGenerated</key>
			<integer>1</integer>
			<key>CFBundleTypeName</key>
			<string>Level 9 Story File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.level9</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>mag</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>LegacyIcon</string>
			<key>CFBundleTypeIconSystemGenerated</key>
			<integer>1</integer>
			<key>CFBundleTypeName</key>
			<string>Magnetic Scrolls Story File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.magscrolls</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>ulx</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>LegacyIcon</string>
			<key>CFBundleTypeIconSystemGenerated</key>
			<integer>1</integer>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/x-glulx</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Glulx Story File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.glulx</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>gam</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>LegacyIcon</string>
			<key>CFBundleTypeIconSystemGenerated</key>
			<integer>1</integer>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/x-tads</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>TADS 2 Story File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.tads2</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>t3</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>LegacyIcon</string>
			<key>CFBundleTypeIconSystemGenerated</key>
			<integer>1</integer>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/x-t3vm-image</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>TADS 3 Story File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.tads3</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>z3</string>
				<string>z4</string>
				<string>z5</string>
				<string>z7</string>
				<string>z8</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>LegacyIcon</string>
			<key>CFBundleTypeIconSystemGenerated</key>
			<integer>1</integer>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/x-zmachine</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Z-code Story File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.zcode</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>z1</string>
				<string>z2</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>LegacyIcon</string>
			<key>CFBundleTypeIconSystemGenerated</key>
			<integer>1</integer>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/x-zmachine</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Z-code Story File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.zcode.old</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>blb</string>
				<string>blorb</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>LegacyIcon</string>
			<key>CFBundleTypeIconSystemGenerated</key>
			<integer>1</integer>
			<key>CFBundleTypeMIMETypes</key>
			<array>
				<string>application/x-blorb</string>
			</array>
			<key>CFBundleTypeName</key>
			<string>Blorbed IF Story File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.blorb</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>zlb</string>
				<string>zblorb</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>LegacyIcon</string>
			<key>CFBundleTypeIconSystemGenerated</key>
			<integer>1</integer>
			<key>CFBundleTypeName</key>
			<string>Blorbed Z-code Story File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.blorb.zcode</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>glb</string>
				<string>gblorb</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>LegacyIcon</string>
			<key>CFBundleTypeIconSystemGenerated</key>
			<integer>1</integer>
			<key>CFBundleTypeName</key>
			<string>Blorbed Glulx Story File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.blorb.glulx</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>quill</string>
				<string>advsys</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>LegacyIcon</string>
			<key>CFBundleTypeIconSystemGenerated</key>
			<integer>1</integer>
			<key>CFBundleTypeName</key>
			<string>Quill Story File</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.quill</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>iFiction</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>LegacyIcon</string>
			<key>CFBundleTypeIconSystemGenerated</key>
			<integer>1</integer>
			<key>CFBundleTypeName</key>
			<string>iFiction Metadata</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.ifiction</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>XML</string>
		</dict>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>sna</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>LegacyIcon</string>
			<key>CFBundleTypeIconSystemGenerated</key>
			<integer>1</integer>
			<key>CFBundleTypeName</key>
			<string>Spectrum Snapshot</string>
			<key>CFBundleTypeRole</key>
			<string>Viewer</string>
			<key>LSHandlerRank</key>
			<string>Default</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>public.sna</string>
			</array>
			<key>LSTypeIsPackage</key>
			<false/>
			<key>NSPersistentStoreTypeKey</key>
			<string>Binary</string>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>$(MARKETING_VERSION)</string>
	<key>CFBundleSignature</key>
	<string>Spat</string>
	<key>CFBundleVersion</key>
	<string>$(CURRENT_PROJECT_VERSION)</string>
	<key>GroupIdentifier</key>
	<string>$(TeamIdentifierPrefix)group.net.ccxvii.spatterlight</string>
	<key>LSApplicationCategoryType</key>
	<string>public.app-category.adventure-games</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSDocumentsFolderUsageDescription</key>
	<string>Spatterlight saves and loads savegames in the Documents folder by default.</string>
	<key>NSMainNibFile</key>
	<string>MainMenu</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>NSRequiresAquaSystemAppearance</key>
	<false/>
	<key>UTImportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.content</string>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Glk Save File</string>
			<key>UTTypeIconFile</key>
			<string>LegacyIcon</string>
			<key>UTTypeIcons</key>
			<dict>
				<key>UTTypeIconBackgroundName</key>
				<string>Bookmark</string>
				<key>UTTypeIconBadgeName</key>
				<string></string>
				<key>UTTypeIconText</key>
				<string>SAVE</string>
			</dict>
			<key>UTTypeIdentifier</key>
			<string>public.glksave</string>
			<key>UTTypeReferenceURL</key>
			<string>http://eblong.com/zarf/glk/</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>glksave</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>application/x-glksave</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.content</string>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Glk Data File</string>
			<key>UTTypeIconFile</key>
			<string>LegacyIcon</string>
			<key>UTTypeIcons</key>
			<dict>
				<key>UTTypeIconBackgroundName</key>
				<string>IconGameHires</string>
				<key>UTTypeIconText</key>
				<string>DATA</string>
			</dict>
			<key>UTTypeIdentifier</key>
			<string>public.glkdata</string>
			<key>UTTypeReferenceURL</key>
			<string>http://eblong.com/zarf/glk/</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>glkdata</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>application/x-glkdata</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.xml</string>
				<string>public.content</string>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>iFiction Metadata</string>
			<key>UTTypeIconFile</key>
			<string>LegacyIcon</string>
			<key>UTTypeIcons</key>
			<dict>
				<key>UTTypeIconBackgroundName</key>
				<string>IconGameHires</string>
				<key>UTTypeIconBadgeName</key>
				<string>I</string>
				<key>UTTypeIconText</key>
				<string>iFiction</string>
			</dict>
			<key>UTTypeIdentifier</key>
			<string>public.ifiction</string>
			<key>UTTypeReferenceURL</key>
			<string>https://babel.ifarchive.org/</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>ifiction</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.content</string>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Alan Story</string>
			<key>UTTypeIconFile</key>
			<string>LegacyIcon</string>
			<key>UTTypeIcons</key>
			<dict>
				<key>UTTypeIconBackgroundName</key>
				<string>BackgroundNew</string>
				<key>UTTypeIconBadgeName</key>
				<string>A</string>
				<key>UTTypeIconText</key>
				<string>ALAN</string>
			</dict>
			<key>UTTypeIdentifier</key>
			<string>public.alan</string>
			<key>UTTypeReferenceURL</key>
			<string>https://www.alanif.se</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>a3c</string>
					<string>acd</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.content</string>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Magnetic Scrolls Story</string>
			<key>UTTypeIconFile</key>
			<string>LegacyIcon</string>
			<key>UTTypeIcons</key>
			<dict>
				<key>UTTypeIconBackgroundName</key>
				<string>BackgroundNew</string>
				<key>UTTypeIconBadgeName</key>
				<string>M</string>
				<key>UTTypeIconText</key>
				<string>MAGNETIC</string>
			</dict>
			<key>UTTypeIdentifier</key>
			<string>public.magscrolls</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>mag</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.content</string>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>AGT Story</string>
			<key>UTTypeIconFile</key>
			<string>LegacyIcon</string>
			<key>UTTypeIcons</key>
			<dict>
				<key>UTTypeIconBackgroundName</key>
				<string>BackgroundNew</string>
				<key>UTTypeIconBadgeName</key>
				<string>A</string>
				<key>UTTypeIconText</key>
				<string>AGT</string>
			</dict>
			<key>UTTypeIdentifier</key>
			<string>public.agt</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>agx</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.content</string>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Adrift Story</string>
			<key>UTTypeIconFile</key>
			<string>LegacyIcon</string>
			<key>UTTypeIcons</key>
			<dict>
				<key>UTTypeIconBackgroundName</key>
				<string>BackgroundNew</string>
				<key>UTTypeIconBadgeName</key>
				<string>A</string>
				<key>UTTypeIconText</key>
				<string>ADRIFT</string>
			</dict>
			<key>UTTypeIdentifier</key>
			<string>public.adrift</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>taf</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.content</string>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Z-code Story File</string>
			<key>UTTypeIconFile</key>
			<string>LegacyIcon</string>
			<key>UTTypeIcons</key>
			<dict>
				<key>UTTypeIconBackgroundName</key>
				<string>BackgroundNew</string>
				<key>UTTypeIconBadgeName</key>
				<string>Z</string>
				<key>UTTypeIconText</key>
				<string>ZCODE</string>
			</dict>
			<key>UTTypeIdentifier</key>
			<string>public.zcode</string>
			<key>UTTypeReferenceURL</key>
			<string>http://inform-fiction.org/zmachine/standards/z1point1/</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>z3</string>
					<string>z4</string>
					<string>z5</string>
					<string>z6</string>
					<string>z7</string>
					<string>z8</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>application/x-zmachine</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.content</string>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Z-code Story File</string>
			<key>UTTypeIconFile</key>
			<string>LegacyIcon</string>
			<key>UTTypeIcons</key>
			<dict>
				<key>UTTypeIconBackgroundName</key>
				<string>BackgroundNew</string>
				<key>UTTypeIconBadgeName</key>
				<string>Z</string>
				<key>UTTypeIconText</key>
				<string>ZCODE</string>
			</dict>
			<key>UTTypeIdentifier</key>
			<string>public.zcode.old</string>
			<key>UTTypeReferenceURL</key>
			<string>http://inform-fiction.org/zmachine/standards/z1point1/</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>z1</string>
					<string>z2</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>application/x-zmachine</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.content</string>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Blorb resource file</string>
			<key>UTTypeIconFile</key>
			<string>LegacyIcon</string>
			<key>UTTypeIcons</key>
			<dict>
				<key>UTTypeIconBackgroundName</key>
				<string>IconGameHires</string>
				<key>UTTypeIconBadgeName</key>
				<string></string>
				<key>UTTypeIconText</key>
				<string>BLORB</string>
			</dict>
			<key>UTTypeIdentifier</key>
			<string>public.blorb</string>
			<key>UTTypeReferenceURL</key>
			<string>http://eblong.com/zarf/blorb/</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>blb</string>
					<string>blorb</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>application/x-blorb</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.content</string>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Blorbed Z-code Story File</string>
			<key>UTTypeIconFile</key>
			<string>LegacyIcon</string>
			<key>UTTypeIcons</key>
			<dict>
				<key>UTTypeIconBackgroundName</key>
				<string>BackgroundNew</string>
				<key>UTTypeIconBadgeName</key>
				<string>Z</string>
				<key>UTTypeIconText</key>
				<string>ZBLORB</string>
			</dict>
			<key>UTTypeIdentifier</key>
			<string>public.blorb.zcode</string>
			<key>UTTypeReferenceURL</key>
			<string>http://inform-fiction.org/zmachine/standards/z1point1/</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>zlb</string>
					<string>zblorb</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>application/x-blorb;profile=&quot;zcode&quot;</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.content</string>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Blorbed Glulx Story File</string>
			<key>UTTypeIconFile</key>
			<string>LegacyIcon</string>
			<key>UTTypeIcons</key>
			<dict>
				<key>UTTypeIconBackgroundName</key>
				<string>BackgroundNew</string>
				<key>UTTypeIconBadgeName</key>
				<string>G</string>
				<key>UTTypeIconText</key>
				<string>GBLORB</string>
			</dict>
			<key>UTTypeIdentifier</key>
			<string>public.blorb.glulx</string>
			<key>UTTypeReferenceURL</key>
			<string>http://eblong.com/zarf/glulx/</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>glb</string>
					<string>gblorb</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>application/x-blorb;profile=&quot;glulx&quot;</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.content</string>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Glulx Story</string>
			<key>UTTypeIconFile</key>
			<string>LegacyIcon</string>
			<key>UTTypeIcons</key>
			<dict>
				<key>UTTypeIconBackgroundName</key>
				<string>BackgroundNew</string>
				<key>UTTypeIconBadgeName</key>
				<string>G</string>
				<key>UTTypeIconText</key>
				<string>GLULX</string>
			</dict>
			<key>UTTypeIdentifier</key>
			<string>public.glulx</string>
			<key>UTTypeReferenceURL</key>
			<string>http://eblong.com/zarf/glulx/</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>ulx</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>application/x-glulx</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.content</string>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Hugo Story</string>
			<key>UTTypeIconFile</key>
			<string>LegacyIcon</string>
			<key>UTTypeIcons</key>
			<dict>
				<key>UTTypeIconBackgroundName</key>
				<string>BackgroundNew</string>
				<key>UTTypeIconBadgeName</key>
				<string>H</string>
				<key>UTTypeIconText</key>
				<string>HUGO</string>
			</dict>
			<key>UTTypeIdentifier</key>
			<string>public.hugo</string>
			<key>UTTypeReferenceURL</key>
			<string>http://www.generalcoffee.com/hugo/</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>hex</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.content</string>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>TADS 2 Game</string>
			<key>UTTypeIconFile</key>
			<string>LegacyIcon</string>
			<key>UTTypeIcons</key>
			<dict>
				<key>UTTypeIconBackgroundName</key>
				<string>BackgroundNew</string>
				<key>UTTypeIconBadgeName</key>
				<string>T</string>
				<key>UTTypeIconText</key>
				<string>TADS 2</string>
			</dict>
			<key>UTTypeIdentifier</key>
			<string>public.tads2</string>
			<key>UTTypeReferenceURL</key>
			<string>http://www.tads.org/howto/mediatypes.htm</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>gam</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>application/x-tads</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.content</string>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>TADS 3 Game</string>
			<key>UTTypeIconFile</key>
			<string>LegacyIcon</string>
			<key>UTTypeIcons</key>
			<dict>
				<key>UTTypeIconBackgroundName</key>
				<string>BackgroundNew</string>
				<key>UTTypeIconBadgeName</key>
				<string>T</string>
				<key>UTTypeIconText</key>
				<string>TADS 3</string>
			</dict>
			<key>UTTypeIdentifier</key>
			<string>public.tads3</string>
			<key>UTTypeReferenceURL</key>
			<string>http://www.tads.org/</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>t3x</string>
					<string>t3</string>
				</array>
				<key>public.mime-type</key>
				<array>
					<string>application/x-t3vm-image</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.content</string>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>DAT Story</string>
			<key>UTTypeIconFile</key>
			<string>LegacyIcon</string>
			<key>UTTypeIcons</key>
			<dict>
				<key>UTTypeIconBackgroundName</key>
				<string>IconGameHires</string>
				<key>UTTypeIconBadgeName</key>
				<string></string>
				<key>UTTypeIconText</key>
				<string>DAT</string>
			</dict>
			<key>UTTypeIdentifier</key>
			<string>public.dat</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>dat</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.content</string>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Spectrum Snapshot</string>
			<key>UTTypeIconFile</key>
			<string>LegacyIcon</string>
			<key>UTTypeIcons</key>
			<dict>
				<key>UTTypeIconBackgroundName</key>
				<string>IconGameHires</string>
				<key>UTTypeIconBadgeName</key>
				<string></string>
				<key>UTTypeIconText</key>
				<string>SNAPSHOT</string>
			</dict>
			<key>UTTypeIdentifier</key>
			<string>public.sna</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>sna</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.level9</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Level 9 game</string>
			<key>UTTypeIconFile</key>
			<string>LegacyIcon</string>
			<key>UTTypeIcons</key>
			<dict>
				<key>UTTypeIconBackgroundName</key>
				<string>BackgroundNew</string>
				<key>UTTypeIconBadgeName</key>
				<string>L</string>
				<key>UTTypeIconText</key>
				<string>LEVEL 9</string>
			</dict>
			<key>UTTypeIdentifier</key>
			<string>public.level9</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>l9</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.content</string>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>AGT Dollar Story</string>
			<key>UTTypeIconFile</key>
			<string>LegacyIcon</string>
			<key>UTTypeIcons</key>
			<dict>
				<key>UTTypeIconBackgroundName</key>
				<string>BackgroundNew</string>
				<key>UTTypeIconBadgeName</key>
				<string>A</string>
				<key>UTTypeIconText</key>
				<string>AGT</string>
			</dict>
			<key>UTTypeIdentifier</key>
			<string>public.ddollardollar</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>d$$$$</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.content</string>
				<string>public.data</string>
			</array>
			<key>UTTypeDescription</key>
			<string>Quetzal saved game</string>
			<key>UTTypeIconFile</key>
			<string>LegacyIcon</string>
			<key>UTTypeIcons</key>
			<dict>
				<key>UTTypeIconBackgroundName</key>
				<string>Bookmark</string>
				<key>UTTypeIconBadgeName</key>
				<string></string>
				<key>UTTypeIconText</key>
				<string>SAVE</string>
			</dict>
			<key>UTTypeIdentifier</key>
			<string>public.qut</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>qut</string>
					<string>qzl</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.image</string>
			</array>
			<key>UTTypeDescription</key>
			<string>NEOchrome image</string>
			<key>UTTypeIconFile</key>
			<string>LegacyIcon</string>
			<key>UTTypeIcons</key>
			<dict>
				<key>UTTypeIconBackgroundName</key>
				<string>BackgroundNew</string>
				<key>UTTypeIconBadgeName</key>
				<string></string>
				<key>UTTypeIconText</key>
				<string>NEO IMAGE</string>
			</dict>
			<key>UTTypeIdentifier</key>
			<string>public.neochrome</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>neo</string>
				</array>
			</dict>
		</dict>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.image</string>
			</array>
			<key>UTTypeDescription</key>
			<string>MCGA image</string>
			<key>UTTypeIconFile</key>
			<string>LegacyIcon</string>
			<key>UTTypeIcons</key>
			<dict>
				<key>UTTypeIconBackgroundName</key>
				<string>BackgroundNew</string>
				<key>UTTypeIconText</key>
				<string>MCGA IMAGE</string>
			</dict>
			<key>UTTypeIdentifier</key>
			<string>public.mcga</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>mg1</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
