/* $Header: d:/cvsroot/tads/html/win32/htmltdb.rc,v 1.1 1999/07/11 00:46:46 MJRoberts Exp $ */

/* Copyright (c) 1997, 1999 by Michael J. Roberts.  All Rights Reserved. */
/*
Name
  htmltdb3.rc - T3 Debugger resource file
Function
  
Notes
  
Modified
  11/24/99 MJRoberts  - Creation
*/

/* use the T3 resource variants */
#define HTMLTDB_T3_RESOURCES

/* this is the debugger */
#define IS_DEBUGGER   1
 
/* include the common HTML TADS resource definitions */
#include "htmlcmn.rc"

/* include the common debugger resources */
#include "htmldcmn.rc"


/* project-list icons */
IDB_PROJ_ROOT           BITMAP  DISCARDABLE     "db_proj.bmp"
IDB_PROJ_FOLDER         BITMAP  DISCARDABLE     "db_fold.bmp"
IDB_PROJ_SOURCE         BITMAP  DISCARDABLE     "db_src.bmp"
IDB_PROJ_RESOURCE       BITMAP  DISCARDABLE     "db_rsc.bmp"
IDB_PROJ_RES_FOLDER     BITMAP  DISCARDABLE     "db_rsfld.bmp"
IDB_PROJ_EXTRESFILE     BITMAP  DISCARDABLE     "db_xres.bmp"
IDB_PROJ_LIB            BITMAP  DISCARDABLE     "db_lib.bmp"
IDB_PROJ_IN_INSTALL     BITMAP  DISCARDABLE     "db_ins.bmp"
IDB_PROJ_NOT_IN_INSTALL BITMAP  DISCARDABLE     "db_noins.bmp"
IDB_PROJ_CHECK          BITMAP  DISCARDABLE     "db_chk.bmp"
IDB_PROJ_NOCHECK        BITMAP  DISCARDABLE     "db_nochk.bmp"

/* right-button context menu for project window */
IDR_PROJ_POPUP_MENU MENU DISCARDABLE
BEGIN
    POPUP "Project"
    BEGIN
        MENUITEM "&Open File",            ID_PROJ_OPEN
        MENUITEM "Open File in &Text Editor",  ID_FILE_EDIT_TEXT
        MENUITEM SEPARATOR
        MENUITEM "Remove &File",          ID_PROJ_REMOVE
        MENUITEM SEPARATOR
        MENUITEM "&Add File...",          ID_PROJ_ADDFILE
        MENUITEM "Add &Directory to Resources...", ID_PROJ_ADDRESDIR
        MENUITEM "Add E&xternal Resource File", ID_PROJ_ADDEXTRES
        MENUITEM SEPARATOR
        MENUITEM "Scan for &Include Files", ID_PROJ_SCAN_INCLUDES
        MENUITEM SEPARATOR
        MENUITEM "Include in &Installer", ID_PROJ_INCLUDE_IN_INSTALL
        MENUITEM SEPARATOR
        MENUITEM "&Run",                  ID_DEBUG_GO
        MENUITEM "Compile for De&bugging",  ID_BUILD_COMPDBG
        MENUITEM "Compile and Ru&n",     ID_BUILD_COMP_AND_RUN
        MENUITEM SEPARATOR
        MENUITEM "Build &Settings...",   ID_BUILD_SETTINGS
    END
END

/*
 *   Program Arguments dialog 
 */
DLG_PROGARGS DIALOG DISCARDABLE  0, 0, 282, 138
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Program Arguments"
FONT 8, "MS Sans Serif"
BEGIN
    LTEXT           "Command &Input File:",IDC_STATIC,7,18,65,8
    EDITTEXT        IDC_FLD_CMDFILE,81,16,178,14,ES_AUTOHSCROLL
    PUSHBUTTON      "...",IDC_BTN_SEL_CMDFILE,260,16,15,14

    LTEXT           "&Output Logging File:",IDC_STATIC,7,42,65,8
    EDITTEXT        IDC_FLD_LOGFILE,81,39,178,14,ES_AUTOHSCROLL
    PUSHBUTTON      "...",IDC_BTN_SEL_LOGFILE,260,39,15,14

    LTEXT           "Program &Arguments.  These arguments will be passed to your program's main entrypoint routine each time you begin execution in the debugger.",
                    IDC_STATIC,7,69,268,24
    EDITTEXT        IDC_FLD_PROGARGS,7,97,268,14,ES_AUTOHSCROLL

    DEFPUSHBUTTON   "OK",IDOK,85,117,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,146,117,50,14
END


/*
 *   Waiting-for-include-scan dialog 
 */
DLG_SCAN_INCLUDES DIALOG DISCARDABLE  0, 0, 223, 69
    STYLE DS_MODALFRAME | DS_CENTER | WS_POPUP | WS_CAPTION | WS_SYSMENU
    CAPTION "TADS Workbench"
    FONT 8, "MS Sans Serif"
BEGIN
    CTEXT   "Scanning all source files for #include directives",
            IDC_STATIC,7,20,209,8
    CTEXT   "This might take a few moments - please wait...",
            IDC_STATIC,7,30,209,8
END

/*
 *   Build Options - Output Page
 */
DLG_BUILD_OUTPUT DIALOGEX DISCARDABLE  0, 0, 235, 156
STYLE WS_CHILD | WS_DISABLED | WS_CAPTION
CAPTION "Output Files"
FONT 8, "MS Sans Serif"
BEGIN
    LTEXT           "Debugging image file.  This is the compiled version of your game that TADS Workbench runs.",
                    IDC_STATIC,7,16,221,16
    EDITTEXT        IDC_FLD_GAM,7,35,165,14,ES_AUTOHSCROLL
    PUSHBUTTON      "&Browse...",IDC_BTN_BROWSE3,178,35,50,14
    LTEXT           "&Release .t3 file.  This is the compiled version of your game that you distribute to players.  This version has no debugging information.",
                    IDC_STATIC,7,61,221,16
    EDITTEXT        IDC_FLD_RLSGAM,7,81,165,14,ES_AUTOHSCROLL
    PUSHBUTTON      "Bro&wse...",IDC_BTN_BROWSE,178,81,50,14
    LTEXT           "&Executable (.EXE) file.  You can compile your game to a native Windows application file for easier distribution to players.",
                    IDC_STATIC,7,106,221,16
    EDITTEXT        IDC_FLD_EXE,7,126,165,14,ES_AUTOHSCROLL
    PUSHBUTTON      "Brow&se...",IDC_BTN_BROWSE2,178,126,50,14
END

/*
 *   New Game Wizard - starter game type
 */
DLG_NEWWIZ_TYPE DIALOG DISCARDABLE  0, 0, 315, 175
STYLE WS_CHILD | WS_DISABLED | WS_CAPTION
CAPTION "Starter Game Type"
FONT 8, "MS Sans Serif"
BEGIN
    CONTROL         IDB_DEBUG_NEWGAME,IDC_STATIC,"Static",SS_BITMAP,2,7,82,162
    LTEXT           "Select the type of starter source file you'd like TADS Workbench to create for you.  If this is your first TADS game, you should use the introductory version.",
                    IDC_STATIC,91,7,215,37
    CONTROL         "&Introductory: This version has commented examples to help you get started.",
                    IDC_RB_INTRO,"Button",BS_AUTORADIOBUTTON | BS_MULTILINE,
                    94,36,212,17
    CONTROL         "&Advanced:  This version has only the minimum set of definitions necessary for the game to be compiled.",
                    IDC_RB_ADV,"Button",BS_AUTORADIOBUTTON | BS_MULTILINE,
                    94,64,212,17
    CONTROL         "&Plain T3:  This version is a basic T3 project that does NOT include the standard adventure game library.",
                    IDC_RB_PLAIN,"Button",BS_AUTORADIOBUTTON | BS_MULTILINE,
                    94,92,212,17
    CONTROL         "&Custom: <Click Browse to select>",
                    IDC_RB_CUSTOM,"Button",BS_AUTORADIOBUTTON | BS_MULTILINE,
                    94,120,152,17
    PUSHBUTTON      "&Browse...",IDC_BTN_BROWSE,250,122,50,14
END


/*
 *   Breakpoint condition dialog
 */
DLG_BPCOND DIALOG DISCARDABLE  0, 0, 289, 82
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Breakpoint Condition"
FONT 8, "MS Sans Serif"
BEGIN
    LTEXT           "&Condition: the breakpoint will only stop execution when this condition is true or has changed.",
                    IDC_STATIC,7,7,215,16
    EDITTEXT        IDC_EDIT_COND,7,32,215,14,ES_AUTOHSCROLL

    CONTROL         "Stop when condition &is true", IDC_RB_TRUE, 
                    "Button", BS_AUTORADIOBUTTON, 7,54,215,8,

    CONTROL         "&Stop when value &has changed", IDC_RB_CHANGED, 
                    "Button", BS_AUTORADIOBUTTON, 7,66,215,8,

    DEFPUSHBUTTON   "OK",IDOK,232,7,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,232,24,50,14
END

