/* $Header$ */

/* Copyright (c) 1999 by Michael J. Roberts.  All Rights Reserved. */
/*
Name
  htmlt2.rc - HTML T2 Stand-alone Interpreter resource file
Function
  
Notes
  
Modified
  10/08/99 MJRoberts  - Creation
*/

/* use tads 2 settings */
#define HTMLTADS_T2_RESOURCES

/* include the common HTML TADS resource definitions */
#include "htmlcmn.rc"

