/* $Header: d:/cvsroot/tads/html/win32/htmltdb.rc,v 1.1 1999/07/11 00:46:46 MJRoberts Exp $ */

/* Copyright (c) 1997, 1999 by Michael J. Roberts.  All Rights Reserved. */
/*
Name
  htmltdb.rc - TADS Debugger resource file
Function
  
Notes
  
Modified
  10/26/97 MJRoberts  - Creation
*/


/* this is the debugger */
#define IS_DEBUGGER   1

/* include the common HTML TADS resource definitions */
#include "htmlcmn.rc"

/* include the common debugger resources */
#include "htmldcmn.rc"

/*
 *   Build Options - Output Page
 */
DLG_BUILD_OUTPUT DIALOGEX DISCARDABLE  0, 0, 235, 156
STYLE WS_CHILD | WS_DISABLED | WS_CAPTION
CAPTION "Output Files"
FONT 8, "MS Sans Serif"
BEGIN
    LTEXT           "Debugging .GAM file.  This is the compiled version of your game that TADS Workbench runs.",
                    IDC_STATIC,7,7,221,16
    LTEXT           "(You can't change this setting because it's based on the name of the .TDC project file that's currently loaded.)",
                    IDC_STATIC,7,24,221,16
    EDITTEXT        IDC_FLD_GAM,7,43,165,14,ES_AUTOHSCROLL | ES_READONLY
    LTEXT           "&Release .gam file.  This is the compiled version of your game that you distribute to players.  This version has no debugging information.",
                    IDC_STATIC,7,69,221,16
    EDITTEXT        IDC_FLD_RLSGAM,7,89,165,14,ES_AUTOHSCROLL
    PUSHBUTTON      "&Browse...",IDC_BTN_BROWSE,178,89,50,14
    LTEXT           "&Executable (.EXE) file.  You can compile your game to a native Windows application file for easier distribution to players.",
                    IDC_STATIC,7,114,221,16
    EDITTEXT        IDC_FLD_EXE,7,134,165,14,ES_AUTOHSCROLL
    PUSHBUTTON      "Bro&wse...",IDC_BTN_BROWSE2,178,134,50,14
END

/*
 *   New Game Wizard - starter game type
 */
DLG_NEWWIZ_TYPE DIALOG DISCARDABLE  0, 0, 315, 175
STYLE WS_CHILD | WS_DISABLED | WS_CAPTION
CAPTION "Starter Game Type"
FONT 8, "MS Sans Serif"
BEGIN
    CONTROL         IDB_DEBUG_NEWGAME,IDC_STATIC,"Static",SS_BITMAP,2,7,82,162
    LTEXT           "Select the type of starter source file you'd like TADS Workbench to create for you.  If this is your first TADS game, you should use the introductory version.",
                    IDC_STATIC,91,7,215,37
    CONTROL         "&Introductory: This version has commented examples to help you get started.",
                    IDC_RB_INTRO,"Button",BS_AUTORADIOBUTTON | BS_MULTILINE,
                    94,52,212,17
    CONTROL         "&Advanced:  This version has only the minimum set of definitions necessary for the game to be compiled.",
                    IDC_RB_ADV,"Button",BS_AUTORADIOBUTTON | BS_MULTILINE,94,
                    80,212,17
    CONTROL         "&Custom: <Click Browse to select>",
                    IDC_RB_CUSTOM,"Button",BS_AUTORADIOBUTTON | BS_MULTILINE,
                    94,108,152,17
    PUSHBUTTON      "&Browse...",IDC_BTN_BROWSE,250,110,50,14
END


/*
 *   Breakpoint condition dialog
 */
DLG_BPCOND DIALOG DISCARDABLE  0, 0, 289, 62
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Breakpoint Condition"
FONT 8, "MS Sans Serif"
BEGIN
    LTEXT           "&Condition: the breakpoint will only hit when this condition is true.",
                    IDC_STATIC,7,7,215,16
    EDITTEXT        IDC_EDIT_COND,7,32,215,14,ES_AUTOHSCROLL
    DEFPUSHBUTTON   "OK",IDOK,232,7,50,14
    PUSHBUTTON      "Cancel",IDCANCEL,232,24,50,14
END

