/* $Header: d:/cvsroot/tads/html/win32/htmltads.rc,v 1.1 1999/07/11 00:46:46 MJRoberts Exp $ */

/* Copyright (c) 1997, 1999 by Michael J. Roberts.  All Rights Reserved. */
/*
Name
  htmltads.rc - HTML TADS Interpreter resource file
Function
  
Notes
  
Modified
  10/26/97 MJRoberts  - Creation
*/

/* include Game Chest in this resource file */
#define HTMLTADS_GAME_CHEST

/* use both tads 2 and 3 settings */
#define HTMLTADS_T2_RESOURCES
#define HTMLTADS_T3_RESOURCES

/* include the common HTML TADS resource definitions */
#include "htmlcmn.rc"

