/* $Header$ */

/* Copyright (c) 1999 by Michael J. Roberts.  All Rights Reserved. */
/*
Name
  htmlt3.rc - HTML T3 Interpreter resource file
Function
  
Notes
  
Modified
  10/08/99 MJRoberts  - Creation
*/

/* use tads 3 settings */
#define HTMLTADS_T3_RESOURCES

/* include the common HTML TADS resource definitions */
#include "htmlcmn.rc"
