/* $Header: d:/cvsroot/tads/html/win32/htmltdb.rc,v 1.1 1999/07/11 00:46:46 MJRoberts Exp $ */

/* Copyright (c) 1997, 1999 by Michael J. Roberts.  All Rights Reserved. */
/*
Name
  htmltdb.rc - TADS Debugger resource file
Function
  
Notes
  
Modified
  10/26/97 MJRoberts  - Creation
*/

/*
 *  include the common HTML TADS resource definitions
 */
#include "htmlcmn.rc"

/* include the common debugger resources */
#include "htmldcmn.rc"

/* about-box bitmap for interpreter */
IDB_BMP_ABOUTLBL4       BITMAP  DISCARDABLE     "abtlbl4.bmp"

